.categoryButton {
  background-color: white;
  height: 150px;
  width: 150px;
  text-align: center;
  display: flex;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  margin: 25px;
  
  h2 {
    margin: auto;
    text-decoration: none !important;
  }
  
}

.categoryButton:hover{
  scale: 0.95;
}
