.footer {
  display: flex;
  margin-bottom: 5px;
}

.footerMenu {
  margin: auto 0 auto 15px;
}

.donate {
  margin: auto 15px auto auto;
  transition: 0.1s ease-in;

  form {
    margin: auto;
  }
}

