@import url('https://fonts.googleapis.com/css?family=Francois+One|Open+Sans:400,700&display=swap');

$font-core: "Open Sans", sans-serif;
$font-title: "Francois One", sans-serif;

$primary-color: antiquewhite;
$secondary-color: #7298AD;
$tertiary-color: #D7EDFA;


html {
  font-family: $font-core;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 100% $font-core;
  background-color: $primary-color;
  font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  color: #4a4a4a;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  
}



.site-content {
  flex-grow: 1;
}


.main {
  margin: 0 auto;
  padding: 0.5em 4em 1.5em;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $secondary-color;
}


.homepage:before {
  content: url("../images/houseColor.png");
  display: inline-flex;
  width: 35px;
  vertical-align: text-bottom;
  margin-right: 15px;
}
