$font-stack: Muli, sans-serif;

$primary-color: #fafeff;

html {
  font-family: $font-stack;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 100% $font-stack;
  background-color: $primary-color;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.menu {
  margin: auto;
  width: 400px;
}

.main {
  margin: 25px auto auto auto;
  border-radius: 10px;
  background-color: white;
  width: 550px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(202, 202, 202, 0.54);
  -moz-box-shadow: 1px 1px 5px 0px rgba(202, 202, 202, 0.54);
  box-shadow: 1px 1px 5px 0px rgba(202, 202, 202, 0.54);
  padding: 20px;
}

.main h1 {
  text-align: center;
}

.homepage:before {
  content: url("../images/houseColor.png");
  display: inline-flex;
  width: 35px;
  vertical-align: text-bottom;
  margin-right: 15px;
}

.bottom {
  grid-area: bottom;
}
