.imageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textContainer {
  display: flex;
  margin: auto;
}

.patternCard {
  display: inline-flex;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  padding: 1em;
  margin: 1em;
  background-color: whitesmoke;
}
.patternImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
  margin: auto;
}

.item {
  margin: 0 1em 0 1em;
  text-align: center;
  align-self: center;
}

.likes {
  position: relative;
  text-align: center;
  color: white;
  img {
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 48px;
  }
  button {
    border: none;
    text-decoration: none;
    padding: 0;
    background: none;
    cursor: pointer;
    transition: 100ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}
.likes button:hover,
.likes button:focus {
  transform: scale(0.9);
}

.likes button:active {
  transform: scale(0.6);
}

.patternTitle {
  margin: 1em auto 0 auto;
}