.footer {
  display: flex;
  margin: 1em 1.5em 1em 1.5em;
  a:hover {
    text-decoration: underline;
  }
}

.footerMenu {
  margin: auto 0 0 15px;
}

.donate {
  margin: auto 15px 0 auto;
  transition: 0.1s ease-in;

  form {
    margin: auto;
  }
}

.boy {
 max-width: 100px;
  margin: auto 0 0 auto;
}