.header {
  /*background: rgb(56, 161, 243);*/
  width: 100%;
  min-height: 160px;
}

h1 {
  max-width: 500px;
  margin: 15px auto;
  display: block;
}

h1 img {
  max-width: 100%;
}

.link {
  color: white;
  text-decoration: none;
}
