.imgCard {
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
  margin: auto;
}

.imgZoom {
    width: 100%;
  max-width: 1000px;
  height: auto;
  align-self: center;
  margin: auto;
}
